.LinkToSource-form {
  display: grid;
  grid-template-columns: 300px 100px;
}
.LinkToSource-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.LinkToSource-submit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
